name: CI
on: push

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: pnpm/action-setup@v4

      - uses: actions/setup-node@v4
        with:
          node-version: '18'
          cache: pnpm

      - run: pnpm install --frozen-lockfile
      - run: pnpm fmt:check
      - run: pnpm type-check
      - run: pnpm build
